<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="utils-code-snippets.ZPM">
    <Module>
      <Name>utils-code-snippets</Name>
      <Version>1.0.1</Version>
      <Description>Utils Various code snippets for InterSystems IRIS</Description>
      <Packaging>module</Packaging>
	  <Keywords>Utils Various code snippets</Keywords>
      <SourcesRoot>src</SourcesRoot>
	<Resource Name="Utils.PKG"/>
	</Module>
  </Document>
</Export>
